.total {
  margin: 20px 10px;
  background-color: #a8d4e0;
  padding: 15px 10px;
  border: solid;
  border-color: black;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.heading {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.price {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 1.2rem;
}
