.total {
  background-color: #a8d4e0;
  min-height: 100px;
  padding: 15px 10px;
  border: solid;
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.total p {
  margin-bottom: 0;
}

.total-price {
  display: flex;
  justify-content: end;
  align-items: center;
}

.heading {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.price {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.voucher-form {
  display: flex;
  justify-content: start;
  align-items: center;
}

.voucher-form input {
  width: auto;
  margin-bottom: 0;
}
