.header-bar {
  background-color: #a8d4e0;
  color: #2d3436;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links a {
  color: #2d3436;
  text-decoration: underline;
  margin-left: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.nav-links a:hover{
  text-decoration: none;
  color: #2d3436;
}

