<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: header"></head>

<body>
  <header th:replace="fragments/navbar :: navbar"></header>
  <!-- Catalog -->
  <div class="container-wrapper">
    <div class="container">
      <h2>Browse our <span th:text="${allProducts.totalElements}">Number of Products</span>
        products
      </h2>
      <div class="filter">
        <a th:href="@{/api/products?color=All}"><button type="button">All</button></a>
        <a th:href="@{/api/products?color=Blue}"><button type="button">Blue</button></a>
        <a th:href="@{/api/products?color=Black}"><button type="button">Black</button></a>
        <a th:href="@{/api/products?color=Brown}"><button type="button">Brown</button></a>
        <a th:href="@{/api/products?color=Gray}"><button type="button">Gray</button></a>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Color</th>
            <th>Link</th>
            <th th:if="${edit}">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="prod: ${allProducts}">
            <td th:text="${prod.name}">Name</td>
            <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}">Price</td>
            <td th:text="${prod.size}">Size</td>
            <td th:text="${prod.color}">Color</td>
            <td><a th:href="@{/api/products/details/{id}(id=${prod.id})}">Details</a></td>
            <td th:if="${edit}"><a th:href="@{/api/products/delete/{id}(id=${prod.id})}">Delete</a></td>
          </tr>
        </tbody>
      </table>
      <div class="navigation">
        <a th:href="@{/api/products/paginated?page={pageNumber}(pageNumber=${allProducts.pageable.pageNumber - 1})}"><button
            type="button" th:unless="${allProducts.first}">Prev</button></a>
        <small>Page <span th:text="${allProducts.pageable.pageNumber + 1}">Current Page</span> of <span
            th:text="${allProducts.totalPages}">Total Pages</span></small>
        <a th:href="@{/api/products/paginated?page={pageNumber}(pageNumber=${allProducts.pageable.pageNumber + 1})}"><button
            <button th:unless="${allProducts.last}" type="button">Next</button></a>
      </div>
    </div>
  </div>
</body>

</html>
