<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${productDetailDTO.product.name}">Details</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <header th:replace="fragments/navbar :: navbar"></header>

  <div class="container-wrapper">
    <div class="details container">
      <div class="product-spotlight">
        <div class="product-image">
          <img src="https://picsum.photos/200/200?grayscale&blur=2" alt="">
        </div>
        <div class="product-info">
          <h2 th:text="${productDetailDTO.product.name}">Classic T-Shirt</h2>
          <span class="product-price" th:text="${productDetailDTO.product.price}">13.99</span>

          <!-- Product Specs Grid -->
          <div class="product-specs">
            <span class="spec-label">Size:</span>
            <span class="spec-value" th:text="${productDetailDTO.product.size}">M</span>

            <span class="spec-label">Color:</span>
            <span class="spec-value" th:text="${productDetailDTO.product.color}">Black</span>

            <span class="spec-label">Availability:</span>
            <p class="stock-badge in-stock" th:unless="${productDetailDTO.isSoldOut}">In Stock (
              <span th:text="${productDetailDTO.stockCount}">count</span> )
            </p>
            <p class="stock-badge out-of-stock" th:if="${productDetailDTO.isSoldOut}">SOLD OUT</p>
          </div>
        </div>

        <a th:href="@{/api/cart/add/{id}(id=${productDetailDTO.product.id})}">
          <button th:unless="${productDetailDTO.isSoldOut}" type="button">Add to cart</button>
        </a>
      </div>
      <div class="reviews-header">
        <h3>Community Reviews</h3>
      </div>
      <div class="content-wrapper">
        <div class="reviews-list" th:if="${newReview != null}">
          <div class="review-card">
            <div class="card-header">
              <div class="user-profile">
                <span class="user-name" th:text="${newReview.userName}">John Doe</span>
              </div>
              <small class="review-date" th:text="${newReview.date}">Oct 12, 2023</small>
            </div>
            <p class="review-text" th:text="${newReview.reviewText}">
              The sound quality is absolutely amazing for the price point.
              I've been using them for my daily commute and the battery life is impressive.
            </p>
          </div>
        </div>
        <div class="reviews-list" th:if="${newReview == null}">
          <i>No Reviews Yet!</i>
        </div>
        <div class="write-review-container">
          <div class="form-header">
            <h3>Add Your Review</h3>
          </div>
          <form class="review-form" method="post" action="/review/submit">
            <input type="text" name="productId" th:value="${productDetailDTO.product.id}" class="hidden-inputs">
            <input type="text" name="productName" th:value="${productDetailDTO.product.name}" class="hidden-inputs">
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-input" name="userName" placeholder="John Doe" required>
            </div>
            <div class="form-group">
              <label class="form-label">Review</label>
              <textarea name="reviewText" class="form-textarea" placeholder="How was your experience?"
                required></textarea>
            </div>
            <button type="submit" class="submit-btn">Post Review</button>
          </form>
        </div>

      </div>
      </section>
    </div>
  </div>
</body>

</html>
